<!DOCTYPE html>
      <html>
      
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
      
      <body>

<div>
    <div class="text-center mt-3">
        <h3>Izmena podataka o adminu</h3>
    </div>
    <div class="mt-4 p-3">
        <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="updateAdmin()">

            <div class="form-group">
                <label for="ime">Ime</label>
                <input class="form-control" type="text" name="ime" [(ngModel)]="admin.ime" tabindex="1" required/>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input class="form-control" type="text" name="prezime" [(ngModel)]="admin.prezime" tabindex="2" required />
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" [(ngModel)]="admin.username" tabindex="3" required
                />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="admin.password" tabindex="4" required
                />
            </div>

            <div class="form-group">
                <label for="repeatedPassword">Repeated Password</label>
                <input class="form-control" type="password" name="repeatedPassword" [(ngModel)]="admin.repeatedPassword" tabindex="5" required
                />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" [(ngModel)]="admin.email" tabindex="6" required
                />
            </div>

            

            <div class="float-right">
                <button class="btn1 btn-outline-primary mr-1" type="submit" tabindex="7">Izmeni admina</button>
                <button class="btn1 btn-outline-warning" type="button" tabindex="8" routerLink="/admin">Odustani</button>
            </div>

        </form>
    </div>
</div>