<div class="grid grid-pad">
  <nav>
		<div class="location">
			<h1 class="levo">O.Š. Jovan Jovanović Zmaj</h1>
		</div>
		<ul>
			<li>
				<a href="/dashboard">Početna</a>
			</li>
			<li>
				<a href="#">O nama</a>
			</li>
			<li>
				<a href="/dnevnik2" target="_top">eDnevnik</a>
			</li>
			<li>
				<a href="#">Aktuelnosti</a>
			</li>
		</ul>
  </nav>
  <section class="first">
      <div class="intro">
        <h1>Dobro došli na sajt osnovne škole "Jovan Jovanović Zmaj"</h1>
        <p>Novi Sad</p>
      </div>
    </section>
    <section class="second">
        <button>Galerija</button>
        <button>Biblioteka</button>
        <button>Zanimljivosti</button>
      </section>
      <section class="third">
          <div class="imageContainer pic1">
            <div class="hoverContainer">
              <h3>Učionica za matematiku</h3>
            </div>
          </div>
          <div class="imageContainer pic2">
            <div class="hoverContainer">
              <h3>Učionica za informatiku</h3>
            </div>
          </div>
          <div class="imageContainer pic3">
            <div class="hoverContainer">
              <h3>Sportska sala</h3>
            </div>
          </div>
          <div class="imageContainer pic4">
            <div class="hoverContainer">
              <h3>Menza</h3>
            </div>
          </div>
          <div class="imageContainer pic5">
            <div class="hoverContainer">
              <h3>Biblioteka</h3>
            </div>
          </div>
          <div class="imageContainer pic6">
            <div class="hoverContainer">
              <h3>Prostorija za vannastavne
                <br> aktivnosti</h3>
            </div>
          </div>
          <div class="imageContainer pic7">
              <div class="hoverContainer">
                <h3>Učionica za biologiju</h3>
              </div>
            </div>
            <div class="imageContainer pic8">
              <div class="hoverContainer">
                <h3>Muzička sekcija</h3>
              </div>
            </div>
        </section>
        
        <section class="fifth">
            <h2>Pronađite nas na mapi</h2>
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89850.39588009307!2d19.77940110515363!3d45.271550806180855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10613de93455%3A0xb6f7d683724fe28!2z0J3QvtCy0Lgg0KHQsNC0!5e0!3m2!1ssr!2srs!4v1528845719034"
             width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </section>

          <footer>
              Copyright &copy; 2018
              <span class="orangeText">Sajt osnovne škole</span>
            </footer>
</div>